{{#each this}}
<ul class='country__card'>
  <li><h2>{{name.official}}</h2></li>
  <li><img src="{{flags.svg}}" alt="{{name.oficial}}" class="country__img"></li>
  <li>Capital: {{capital}}</li>
  <li>Population: {{population}}</li>
  <li>Languages:
    {{#each languages}}
    {{this}},
    {{/each}}
  </li>
</ul>
{{/each}}